body{
    margin: 0;
    padding: 0;
    background-image: url("p2.jpg");
    background-size: cover;
}
.title{
    text-align: center;
    color: aliceblue;
    padding: 0;
    font-size: medium;
}
.container{
    width: 50%;
    height: 400px;
    margin-top: 80px;
    margin-left: 25%;
    background: whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
    
}
.container .left{
    float: left;
    width: 50%;
    height: 400px;
    background: url("vote.avif");
    background-size: cover;
   
}

.t{
    text-align: center;
}
.u{
    margin-left: 15px;
}


.fr{
    margin-bottom: 15px;
    display: flex;   
}
.fr label{
    width: 100px;
    margin-right: 15px;
    
}



.sel{
    margin-left: 6%;
}


.btn{
background-color: lightskyblue;
width: 30%;
height: 30px;
margin-left: 10%;
border-radius: 5px;
}
.btn:hover{
    background-color:skyblue;
}
.cen{
    text-align: center;
}






